</html><!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">

<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <!-- Brand -->
  <a class="navbar-brand" href="#">RIETHacks</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#timeline">Timeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#prizes">Prizes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#sponsors">Sponsors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.google.com/">Register</a>
      </li>
    </ul>
  </div>
</nav> 

<div class="container-fluid" style="margin-top:80px">
  <img src=”public/background.gif” alt=”animated” />
  <h3 id="home">RIEThacks 2019</h3>
  <p>A student-led hackathon.</p>
</div>

<div class="container-fluid" style="margin-top:80px">
  <h3 id="about">About</h3>
  <p>A student-led hackathon.</p>
</div>

<section style="margin-top:80px">
  <h3 id="prizes">Event Timeline</h3>
  <div class="container" >
    <div class="row">
      <div class="col-xs-6">
          <table class="table table-striped">
            <thead><tr><th colspan="3">Day 1: January 19</th></tr></thead>
            <tbody>
              <tr><td>1100</td><td>1140</td><td>Registration</td></tr>
              <tr><td>1140</td><td>1230</td><td>Participants’ briefing and Sponsor Talks</td></tr>
              <tr><td colspan="2">1230</td><td>Start of the hackathon</td></tr><tr><td>1400</td><td>1600</td><td>Optional Sponsored Talks</td></tr>
              <tr><td>1730</td><td>1830</td><td>Optional Sponsored Talks</td></tr>
              <tr><td>1830</td><td>1930</td><td>Dinner</td></tr>
              <tr><td>2300</td><td>0000</td><td>Supper</td></tr>
              <tr><td>0000</td><td></td><td>Midnight Surprise!</td></tr>
            </tbody>
          </table>
      </div>
      <div class="col-xs-6" style="margin-left:50px">
        <table class="table table-striped">
          <thead><tr><th colspan="3">Day 1: January 19</th></tr></thead>
          <tbody>
            <tr><td>1100</td><td>1140</td><td>Registration</td></tr>
            <tr><td>1140</td><td>1230</td><td>Participants’ briefing and Sponsor Talks</td></tr>
            <tr><td colspan="2">1230</td><td>Start of the hackathon</td></tr><tr><td>1400</td><td>1600</td><td>Optional Sponsored Talks</td></tr>
            <tr><td>1730</td><td>1830</td><td>Optional Sponsored Talks</td></tr>
            <tr><td>1830</td><td>1930</td><td>Dinner</td></tr>
            <tr><td>2300</td><td>0000</td><td>Supper</td></tr>
            <tr><td>0000</td><td></td><td>Midnight Surprise!</td></tr>
          </tbody>
        </table>
      </div>
    </div>       
  </div>
</section>

<div class="container-fluid" style="margin-top:80px">
  <h3 id="prizes">Prizes</h3>
  <p>$100000000.</p>
</div>

<div class="container-fluid" style="margin-top:80px">
  <h3 id="sponsors">Sponsors</h3>
  <p>$100000000.</p>
</div>

</body>
</html>